.sectionCuerpoInicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $grisOscuro;
    margin-top: 2.2vw;
    h1{
        color:white;
        text-transform: uppercase;
        font-style: italic;
    }

    &__busqueda{
        @extend .claseBotones;
    }

    &__tabla{
        display: flex;
        flex-direction: column;
        background-color: $blanco;
        border-radius: 20px;
        width: 70vw;
        height: auto;
        margin-top: 2.2vw;
        &__fila1{
            @extend .claseFilas;

            &__columna{
                @extend .claseColumnas;
            }
        }

        &__titulos{
            background-color: $grisOscuro;
            color: $blanco;
            font-size: 1.05rem;
            padding: 0.2vw 0.7vw;
            font-weight: 600;
            font-style: italic;
        }
        &__filas{
            @extend .claseFilas;

            &__destacados{
                @extend .claseColumnas;
                background-color: $grisClaro;
            }
            &__otros{
                @extend .claseColumnas;
            }
           
        }
    }

    &__botones{
        @extend .claseBotones;
        #buscar{
            background-color: $naranja;
            color: $blanco;
        }
    }
}

.claseFlex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.claseColumnas{
    @extend .claseFlex;
    width: 14vw;
    height: 7vh;
    p{
        align-self: center;
        font-size: 1vw;
        padding: 0;
        margin:0;
    }
}

.claseFilas{
    @extend .claseFlex;
    flex-direction: row;
    width: 70vw;
    height: 7vh;
    border-bottom: 1px solid $grisOscuro;
}

#left{
    border-left: 1px solid $grisOscuro;
 }

 .claseBotones{
    @extend .claseFlex;
    margin-top: 30px;

        button{
            width: 17vw;
            height:5vh;
            border-radius: 1vw;
            margin:0 6px;
            font-size: 1.1rem;
            font-weight: 600;
        }
 }
 