* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #1f1f1f;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #E07805;
  height: 65px;
}
.header__h {
  display: flex;
  background-color: #1f1f1f;
  width: 65px;
  justify-content: center;
  align-items: center;
  border-left: 5px solid #ADA598;
}
.header__h img {
  height: 70%;
}
.header__menu {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
}
.header__menu i {
  color: #FFFFFF;
  font-size: 32px;
}
.header__menu #arrow {
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
}
.header__menu p {
  margin-left: 2px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  padding: 0;
}

.sectionCuerpoInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  margin-top: 45px;
}
.sectionCuerpoInicio h1 {
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-size: 26px;
}
.sectionCuerpoInicio__tabla {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 800px;
  height: auto;
  margin-top: 30px;
}
.sectionCuerpoInicio__tabla__titulos {
  background-color: #1f1f1f;
  color: #FFFFFF;
  font-size: 17px;
  padding: 3px 20px;
  font-weight: 600;
  font-style: italic;
}
.sectionCuerpoInicio__tabla__filas__destacados {
  background-color: #ADA598;
}
.sectionCuerpoInicio__botones #buscar {
  background-color: #E07805;
  color: #FFFFFF;
}

.claseFlex, .claseBotones, .sectionCuerpoInicio__busqueda, .sectionCuerpoInicio__botones, .claseFilas, .sectionCuerpoInicio__tabla__fila1, .sectionCuerpoInicio__tabla__filas, .claseColumnas, .sectionCuerpoInicio__tabla__fila1__columna, .sectionCuerpoInicio__tabla__filas__destacados, .sectionCuerpoInicio__tabla__filas__otros {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.claseColumnas, .sectionCuerpoInicio__tabla__fila1__columna, .sectionCuerpoInicio__tabla__filas__destacados, .sectionCuerpoInicio__tabla__filas__otros {
  height: 40px;
  width: 160px;
}
.claseColumnas p, .sectionCuerpoInicio__tabla__fila1__columna p, .sectionCuerpoInicio__tabla__filas__destacados p, .sectionCuerpoInicio__tabla__filas__otros p {
  align-self: center;
  padding: 0;
  margin: 0;
}

.claseFilas, .sectionCuerpoInicio__tabla__fila1, .sectionCuerpoInicio__tabla__filas {
  flex-direction: row;
  width: 800px;
  height: 40px;
  border-bottom: 1px solid #1f1f1f;
}

#left {
  border-left: 1px solid #1f1f1f;
}

.claseBotones, .sectionCuerpoInicio__busqueda, .sectionCuerpoInicio__botones {
  margin-top: 30px;
}
.claseBotones button, .sectionCuerpoInicio__busqueda button, .sectionCuerpoInicio__botones button {
  width: 250px;
  height: 36px;
  border-radius: 13px;
  margin: 10px 6px;
  font-size: 16px;
  font-weight: 600;
}

.headerLogin {
  display: flex;
  height: 80px;
  flex-direction: row;
  align-items: flex-end;
  margin: 10px 60px;
}
.headerLogin img {
  height: 60px;
}
.headerLogin h1 {
  padding: 0 0 0 2px;
  margin: 0;
  text-transform: uppercase;
  color: #ADA598;
  font-weight: 800;
  font-size: 37px;
}
.headerLogin h1 span {
  color: #E07805;
}
.headerLogin h2 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 32px;
}
.headerLogin h2 span {
  font-size: 37px;
  font-weight: 700;
  padding: 0 0 0 5px;
}

.sectionLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 83vh;
}
.sectionLogin__fondo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  height: 400px;
  width: 450px;
  border-radius: 30px;
  background-color: #E07805;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.6784313725);
  padding: 10px 0;
}
.sectionLogin__fondo__campos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px;
}
.sectionLogin__fondo__campos__campo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 55%;
}
.sectionLogin__fondo__campos__campo input {
  width: 90%;
  height: 35px;
  border-radius: 15px;
  border-style: none;
  padding: 4px;
  box-shadow: 0px 3px 7px #ADA598 inset;
}
.sectionLogin__fondo__campos__texto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sectionLogin__fondo__campos__texto label {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
}
.sectionLogin__fondo__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.sectionLogin__fondo__btn a {
  text-decoration: none;
}
.sectionLogin__fondo__btn a p {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 500;
  font-style: italic;
}
.sectionLogin__fondo__btn input {
  width: 80%;
  height: 35px;
  border-radius: 15px;
  border-style: none;
  padding: 4px;
  background-color: #1f1f1f;
  color: #FFFFFF;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */